extends layout

block content
	section.span7
		section
			h3 lietweet
			p A web based twitter client to save your tweets, photos and other media to your computer. A good tool for stalking.
			h4 Features
			ul
				li Realtime tweets
				li Lightweight usage
				li Preview tweets within timeline
				li Save tweets
				li Secure - No need to authorize any thirdparty application, just create a new app from twitter developer site to obtain keys to access your timeline.
				li Post tweets
				li Favorite and retweet tweets
				li Post to Facebook
				li View over web
				li Search saved tweets
			
				
			h4 Download
			button.btn Clone source code from github
			span &nbsp;or 
			button.btn.btn-info Setup on the cloud for ($4)
			
			h4 Requirements
			ul
				li Internet
				li A modern browser
				li
					a(href='') Node.js
				li
					a(href='') MongoDB

