html
	background-color #f9eecc
body
	padding: 50px
	background transparent
	font-family 'Chivo'
a
	color: #00B7FF
	cursor pointer
	text-decoration none !important
h3
	color #F08080
nav
	margin-top 100px
	ul
		padding 0
		margin 0
		li
			list-style-type none
			margin-bottom 20px
			a
				font-size 22px
				display inline-block
				padding 10px
				color #333
				font-weight bold
				font-style italic
				&:hover
					//color black
					background rgba(200, 200, 200, .5);
					//color #333
#logo_container
	line-height: 39px
#logo
	font-size: 56pt;
	font-style: italic;
	font-weight: bold;
	//color: #003F37;
	color: rgb(248, 113, 85)
	text-shadow: 1px 3px black;
#logo-text
	display: block;
	font-size: 22px;
	font-style: italic;

